@import url('https://fonts.googleapis.com/css2?family=Helvetica+Neue:wght@400;700&display=swap');

body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #7ebee1;
    color: #34507c;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #f15a29;
}

.auth a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

.auth a:hover {
    text-decoration: underline;
}

.logo img {
    height: 50px;
}

main {
    padding: 50px 20px;
}

h1 {
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
}
